@page
@model DW_26256_27229.Pages_Inscricoes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscricao[0].DataInscricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inscricao)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Utilizador.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInscricao)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Cancelar Inscrição</a>
                </td>
            </tr>
        }
    </tbody>
</table>
